In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset['charges']
dependent

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['mse','mae'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True, verbose=3,n_jobs=-1)
#fitting the model for grid search
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\bhava\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [9]:
#print best paramter after tuning
#print(grid.best_params_)
re=grid.cv_results_
print("The R_score value for the best parameter{}:".format(grid.best_params_))

The R_score value for the best parameter{'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [10]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.074285,0.009036,0.008804,0.001939,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.840412,0.746372,0.831361,0.809321,0.824828,0.810459,0.033612,11
1,0.443476,0.007631,0.022608,0.001019,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.845973,0.771655,0.854029,0.815241,0.841322,0.825644,0.029959,5
2,0.043716,0.008169,0.006002,0.000631,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.817709,0.749160,0.841114,0.803752,0.826192,0.807585,0.031626,12
3,0.325381,0.018388,0.027406,0.001624,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.861051,0.781326,0.862103,0.827659,0.841520,0.834732,0.029632,1
4,0.040009,0.005293,0.006401,0.001020,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.843695,0.750386,0.838725,0.820208,0.825492,0.815701,0.033752,10
5,0.304187,0.011196,0.021806,0.002316,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.860839,0.783898,0.850064,0.829113,0.837284,0.832240,0.026487,4
6,0.281062,0.003848,0.006402,0.000492,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.833257,0.748240,0.867334,0.819497,0.821354,0.817937,0.038850,7
7,2.564228,0.052080,0.016281,0.002224,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.838761,0.766307,0.845973,0.824506,0.835639,0.822237,0.028808,6
8,0.172370,0.009651,0.005812,0.001425,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.841922,0.746042,0.847558,0.813516,0.831487,0.816105,0.036900,8
9,1.490287,0.033880,0.018604,0.000490,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.857188,0.781817,0.854049,0.826528,0.847075,0.833332,0.027883,3
10,0.159335,0.003792,0.005201,0.000400,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.826435,0.763027,0.835435,0.822693,0.832623,0.816042,0.026884,9
11,1.404857,0.064995,0.015035,0.002564,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.856516,0.781924,0.857008,0.826548,0.847843,0.833968,0.028268,2

In [11]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:36
BMI:43
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [12]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction{}".format(Future_Prediction))

Future_Prediction[44517.1724054]

C:\Users\bhava\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"