In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset['charges']
dependent

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['mse','mae'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True, verbose=3,n_jobs=-1)
#fitting the model for grid search
grid.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\bhava\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [11]:
#print best paramter after tuning
#print(grid.best_params_)
re=grid.cv_results_
'''#print(re)
grid_predictions=grid.predict(x_test)
#print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)'''

print("The R_score value for the best parameter{}:".format(grid.best_params_))

The R_score value for the best parameter{'criterion': 'mae', 'max_features': 'sqrt', 'n_estimators': 100}:

In [12]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.043646,0.011143,0.002802,0.000748,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.846811,0.747509,0.813080,0.782021,0.761256,0.790135,0.035932,10
1,0.255447,0.011753,0.014802,0.001941,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.861291,0.769129,0.809220,0.802192,0.764684,0.801303,0.034751,6
2,0.025522,0.006869,0.002401,0.000489,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.845649,0.753009,0.798506,0.810222,0.750354,0.791548,0.036073,8
3,0.187977,0.003854,0.014911,0.001629,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.858331,0.788214,0.808614,0.827164,0.766568,0.809778,0.031601,3
4,0.020203,0.001721,0.002400,0.000490,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.828712,0.748574,0.778341,0.806299,0.764774,0.785340,0.028789,11
5,0.189779,0.010763,0.012504,0.000448,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.860502,0.786431,0.807903,0.824512,0.767794,0.809428,0.031939,4
6,0.131039,0.006064,0.002602,0.000489,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.821544,0.746131,0.798490,0.775390,0.752921,0.778895,0.028154,12
7,1.192288,0.025149,0.010478,0.001923,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.845480,0.778250,0.792851,0.793714,0.764227,0.794904,0.027503,7
8,0.075727,0.004264,0.002401,0.000491,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.834081,0.757579,0.796770,0.825120,0.742686,0.791247,0.036067,9
9,0.715557,0.026290,0.011305,0.000873,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.860342,0.792898,0.809941,0.819886,0.770112,0.810636,0.030045,1
10,0.070519,0.004138,0.002101,0.000488,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.845241,0.777763,0.817378,0.818241,0.760560,0.803837,0.030522,5
11,0.635443,0.070269,0.009289,0.002327,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.855572,0.798491,0.806954,0.819191,0.769206,0.809883,0.028168,2

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction{}".format(Future_Prediction))

Future_Prediction[46297.00394545]