In [5]:
import pandas as pd

In [6]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [8]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [10]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [12]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [14]:
dependent=dataset[['charges']]
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
x_train
x_test

array([[ 0.89459283, -0.08863026, -0.06746417,  1.02378711, -0.50466988],
       [ 0.53757957, -0.22180837, -0.06746417, -0.97676557, -0.50466988],
       [ 0.60898222,  1.57449152,  0.76341038,  1.02378711,  1.98149332],
       ...,
       [ 1.10880078,  1.20785059, -0.89833872,  1.02378711, -0.50466988],
       [ 1.75142463,  1.34905148, -0.06746417,  1.02378711, -0.50466988],
       [ 1.60861933, -0.92299913, -0.89833872, -0.97676557, -0.50466988]])

In [118]:
from sklearn.svm import SVR
regressor=SVR(kernel="sigmoid", C=3000)
regressor.fit(x_train,y_train)

C:\Users\bhava\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=3000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='sigmoid', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [119]:
y_predict=regressor.predict(x_test)
y_predict

array([ 5.38168021e+03,  1.41217256e+04,  1.62694402e+04, -1.15456015e+04,
        4.99765446e+03,  1.95199727e+04, -3.33465704e+04, -2.11844675e+04,
        1.33336748e+04, -5.85344278e+03,  1.72655293e+04,  5.43829873e+03,
        1.17657766e+04, -1.25901895e+04,  3.43219641e+04, -3.32871786e+03,
       -1.81736111e+04,  9.60950120e+03,  5.37396607e+03,  2.58672857e+04,
        6.15274664e+04, -5.98561300e+03,  3.35816333e+04,  4.15657383e+04,
        2.34476417e+04,  1.41160589e+04, -2.71694986e+04,  5.71138648e+03,
       -1.42216141e+04,  1.58244779e+04,  1.18004482e+04,  2.17713597e+04,
       -1.39041498e+04, -9.26708815e+03,  4.00231969e+04, -1.32346730e+04,
        3.02253364e+04, -1.33203525e+04,  3.15515010e+04, -2.36147339e+04,
       -1.44628401e+04,  2.25462307e+04,  4.20887871e+04,  4.80415603e+04,
        9.15728945e+03,  1.85298749e+04, -2.72433438e+03,  3.39781240e+03,
       -8.23561692e+03,  1.58214431e+04, -1.54577234e+04,  3.84411362e+04,
        4.20353456e+04, -1.41488864e+04,  4.07934409e+04,  1.61080946e+04,
        1.79884953e+04, -9.20973297e+03,  1.98974648e+04,  8.95827556e+02,
        3.53527522e+04,  9.06536300e+04,  5.39811883e+04,  2.47266704e+04,
        4.15469690e+04,  1.72979583e+04,  2.84077986e+04, -1.97234118e+04,
        9.99784886e+03,  1.50354012e+04,  4.29606090e+04,  3.58843921e+03,
        4.23291284e+04,  4.51632030e+04,  3.46122660e+04,  4.09526063e+04,
       -6.83655529e+02,  1.49562306e+04,  5.05269475e+04,  3.64358588e+04,
        3.72249480e+04,  5.32247457e+03,  2.59524319e+04,  5.62643932e+03,
        1.03758361e+04,  2.00429862e+04,  1.45082453e+04,  2.27498183e+04,
        3.49646642e+03,  3.52399111e+03,  1.47614507e+04, -1.61553116e+04,
        2.78545992e+03,  7.38585744e+03,  9.88941055e+03,  4.81577373e+03,
        2.93766831e+04,  3.10940344e+04,  1.48867420e+04, -4.17347876e+03,
        2.41937567e+04,  1.01070588e+04,  1.63964601e+04,  7.46298729e+03,
        3.04947351e+04, -2.47654378e+04, -1.32766170e+04, -6.19507722e+03,
       -1.52685636e+04,  2.53894169e+04,  1.33855617e+03,  2.44644616e+04,
        1.44334895e+04,  2.16133257e+04,  1.72986681e+04,  5.08598058e+03,
        1.42531951e+04, -9.33840117e+03,  1.43371989e+04,  1.64782010e+04,
        1.71081474e+04,  7.33793321e+03,  4.32479353e+04,  5.37205081e+03,
        1.02609245e+04,  6.15142416e+03,  4.62869257e+04,  5.01045127e+04,
        7.02119911e+03,  2.05141637e+04,  7.29881831e+03,  9.90763394e+03,
        8.72004442e+03, -7.72676038e+03,  2.72176333e+04,  2.26791344e+04,
        4.85108958e+04,  5.49437909e+03,  5.07532290e+04,  1.07486184e+04,
       -2.57429102e+04, -1.56483062e+04,  3.19237487e+04, -1.42158913e+04,
        5.89619110e+03,  4.61609045e+04,  1.66851600e+04,  1.12384854e+04,
        4.42645071e+04,  1.25732083e+03,  5.05299198e+03, -1.24823958e+04,
        7.78110708e+03,  1.11858815e+04,  5.44247550e+03,  9.44584011e+03,
        9.96536210e+03,  1.15603175e+04, -3.25463881e+03, -9.28441321e+03,
       -1.09708306e+04, -9.18205866e+03,  3.82376116e+04,  1.92239430e+04,
       -1.91941874e+04, -2.21458127e+04,  3.76715633e+04,  2.43409969e+04,
        7.44232602e+03, -1.30484880e+04, -8.18235304e+02, -7.30463978e+03,
        7.57275578e+03,  1.93382110e+04, -1.48826518e+04, -1.98219276e+04,
       -1.01597228e+04,  2.14968328e+03,  8.45477544e+04,  4.09790645e+04,
       -7.50368030e+01,  6.53669995e+03, -1.55674789e+04,  1.84801393e+04,
       -6.84710174e+03,  4.46696968e+04,  2.65646229e+04, -9.25385716e+03,
        4.76323102e+04,  8.29666227e+02,  2.26870352e+04,  1.62906914e+04,
        1.61224480e+03,  4.90189859e+04,  1.87092933e+04,  3.30353065e+04,
        5.10855752e+03,  1.40654435e+04,  9.26580497e+03,  7.65623080e+03,
        1.82577875e+04,  2.51350421e+04, -3.77935894e+03, -1.82456095e+02,
       -9.10571037e+02,  1.23868775e+04, -1.04787236e+04, -1.11885743e+04,
        1.18826900e+04,  1.85510978e+04,  7.79433103e+03,  4.62194601e+04,
        2.94682555e+04, -1.81913458e+04,  5.07754887e+03,  3.54980185e+04,
       -1.32318617e+03, -5.99416481e+03, -1.48931834e+04,  4.04429326e+02,
        1.00296230e+04,  1.58758071e+04,  2.41561399e+04, -2.58639337e+04,
        4.27131746e+04, -1.41359606e+04, -9.85870692e+03,  3.42190217e+04,
       -7.55343018e+03,  3.15741161e+04,  3.37341710e+04,  1.89848462e+04,
        4.35588406e+04,  5.32572367e+04, -4.61966140e+03,  1.39902191e+04,
        1.31495733e+04,  2.26845525e+04,  5.34774272e+03,  4.86871319e+03,
        2.11866640e+03, -5.00875705e+04,  6.27676999e+03,  7.53026552e+03,
        1.83475919e+04,  6.46308030e+03, -1.21329494e+04,  1.46195950e+04,
       -2.97137814e+04,  2.48383019e+03,  4.68269041e+04,  4.87705455e+03,
        1.74243560e+04,  1.35240350e+04, -3.18169861e+04,  4.48425463e+04,
        9.72625171e+03, -2.01273819e+04, -2.89021555e+04, -8.56581820e+03,
        3.04528540e+03,  4.17089901e+04,  2.92071852e+04, -5.44436520e+03,
        4.82439827e+03, -4.96500118e+03,  2.34108580e+04,  1.45162909e+04,
        1.84009071e+03,  2.56903510e+04,  3.85402375e+04,  8.68970663e+03,
        1.90618448e+04,  1.45649286e+04, -8.65341977e+02,  8.14476988e+03,
       -1.39983624e+04,  2.41975218e+04,  1.00473487e+04,  2.03846430e+04,
        3.77645176e+04,  9.92293200e+03, -2.00483373e+04, -3.09869336e+04,
        1.45462246e+04, -1.79682850e+04, -5.81716645e+02,  4.92257866e+04,
        2.45606893e+04,  4.19694308e+04, -1.25613006e+04,  8.53688537e+03,
        1.76275224e+03,  5.25780716e+03, -4.73923732e+03,  1.84957623e+04,
        2.23978766e+04,  6.89511290e+03,  7.36309225e+03, -6.68269780e+03,
        3.18173842e+04, -9.86154962e+03,  7.28169400e+04,  3.69400499e+04,
        4.55236437e+04,  3.09814702e+04, -1.23073099e+02,  1.78332373e+04,
       -1.19554597e+04,  3.74497551e+04, -6.54839415e+03,  1.08286015e+04,
        3.72169346e+04, -2.91148990e+04,  1.04673998e+04,  9.95393166e+03,
        1.35697738e+04, -1.27357562e+04,  1.30443603e+03,  1.37340422e+04,
        1.88868584e+04,  1.71052654e+03, -3.29525755e+04,  2.94904122e+04,
       -2.77330683e+03,  2.87199660e+04,  1.71887226e+04,  1.89431093e+04,
        6.63085426e+03,  8.14427862e+03, -7.49519611e+03, -3.26333295e+02,
        5.19001642e+03, -8.59761849e+03,  4.55279128e+04,  2.67794863e+03,
        3.12780461e+04,  1.39874714e+04,  3.47334886e+04, -2.54339934e+04,
        7.53332241e+04,  2.53015930e+04,  3.52916533e+04,  1.06013841e+04,
        2.54946803e+04, -4.16784228e+03,  5.18036727e+03,  3.21770192e+04,
        1.32659895e+04, -1.26627373e+04, -2.08950159e+04, -1.28771877e+04,
        2.49452272e+04, -6.97568151e+03,  1.63405402e+04,  1.19371974e+04,
        4.06036678e+04, -2.04232137e+04,  5.46606121e+03,  1.79182866e+04,
        3.68972753e+04, -2.25611755e+04,  1.78292861e+04,  1.42894337e+04,
        4.65505327e+04, -1.52567036e+04, -3.26288549e+04, -1.76306021e+04,
       -1.73332487e+04,  2.41324227e+04,  8.33797838e+03,  1.80050202e+04,
        9.26377455e+03, -6.75492744e+02, -1.10292237e+04, -3.38090268e+04,
       -4.15382541e+03,  8.37608050e+03,  3.59947892e+04, -1.59132249e+04,
        1.01682515e+04,  3.81671133e+04, -2.91070469e+04,  1.64501688e+03,
        5.94456083e+03, -2.89190345e+04,  1.75103490e+04,  1.56299509e+04,
        2.18667500e+03,  1.60265417e+04, -2.52627767e+04, -2.16695248e+04,
        2.84586991e+04,  2.18608593e+04, -1.71114862e+04,  1.84972085e+04,
       -5.62742124e+03,  1.30321645e+04, -3.52914171e+04, -7.47212482e+03,
        1.61651857e+04,  3.92517605e+04])

In [120]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_predict)
r_score

-2.1244194786689854